<div class="containet">
    <!--Navbar-->
  
      <mdb-navbar SideClass="navbar navbar-dark light-blue"  [containerInside]="false">
        <mdb-navbar-brand><a class="navbar-brand" href="#">Inventary Management System</a></mdb-navbar-brand>
        <mdb-navbar-brand><a class="navbar-brand" href="#">AdminHome</a></mdb-navbar-brand>
      <mdb-navbar-brand><a class="navbar-brand" href="#">Home</a></mdb-navbar-brand>
      <mdb-navbar-brand><a class="navbar-brand lot " href="#">Logout</a></mdb-navbar-brand>
      </mdb-navbar>
      
</div>
  
<div class="container-fluid">
  
  <div class="row acc">
      <div class="col-lg-4"></div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  
        <!-- Default form login -->
        <form class="text-center border border-light p-5">
  
        <p class="h4 mb-4">Hall Manage</p>
       <!-- Search form -->
        <!-- <form class="form-inline md-form form-sm active-cyan active-cyan-2">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
        </form> -->

        <!-- original search hall-->
        <!-- <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <form class="form-inline md-form mr-auto mb-4">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" [formControl]="search" aria-label="Search">
              <button class="btn btn-primary btn-rounded btn-sm my-0" type="submit" (click)="searchUser()">Search</button>
              {{search.value|json}} -->
            <!-- </form>
           </div>
        </div> -->


        <!-- Hall Name -->
        <input type="text" id="defaultLoginFormText" class="form-control mb-4" placeholder="Hall Name">
  
        
        <div class="container-fluid">
          <div class="row">  
            <!-- <div class="col-lg-4" ><button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="registerHall()">Add</button></div> -->
            <div class="col-lg-4" ><button mdbBtn color="info" block="true" class="my-4" type="submit">Update</button></div>
            <div class="col-lg-4" ><button mdbBtn color="info" block="true" class="my-4" type="submit">Delete</button></div>
          </div>
        </div>
      
    
        </form>
        <!-- Default form login -->
      </div>
      <div class="col-lg-3"></div>
  </div>
</div>
  


