<div class="containet">
  <!--Navbar-->


  <mdb-navbar SideClass="navbar navbar-dark light-blue" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">Inventary Management System</a></mdb-navbar-brand>
  </mdb-navbar>

</div>

<div class="container-fluid">
  <div class="row acc">
    <div class="col-lg-12">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">View Items</h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    sgshgslhglshlh
     
  </div>
</div>
