<!-- <div class="containet">
  Navbar-->

  <!-- <mdb-navbar SideClass="navbar navbar-dark light-blue" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/admininventory']">Inventary Management System</a></mdb-navbar-brand>
    <mdb-navbar-brand><a class="navbar-brand" href="#">AdminHome</a></mdb-navbar-brand>
    <mdb-navbar-brand><a class="navbar-brand" href="#">Home</a></mdb-navbar-brand>
    <mdb-navbar-brand><a class="navbar-brand lot " href="#">Logout</a></mdb-navbar-brand>
  </mdb-navbar> -->

  <!-- navbar  -->
<!-- </div>  -->