<div class="containet">
  <!--Navbar-->

    <mdb-navbar SideClass="navbar navbar-dark light-blue"  [containerInside]="false">
      <mdb-navbar-brand><a class="navbar-brand" href="#">Inventory Management System</a></mdb-navbar-brand>
    </mdb-navbar>
    
</div>

<div class="container-fluid">

  <div class="row acc">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

      <!-- Default form login -->
      <form class="text-center border border-light p-5" [formGroup]="loginForm">

        <p class="h4 mb-4">Sign in</p>

        <!-- User Name -->
        <input type="text" id="defaultLoginFormText" class="form-control mb-4" placeholder="User Name" formControlName="username" required>

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" formControlName="password" required>

        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
          </div>
        </div>

        <!-- Sign in button -->
        <button mdbBtn color="info" block="true" class="my-4" (click)="login()">Sign in</button>

        <!-- Register -->
       
        <div class="error"> <strong>{{error}}</strong> </div>
      </form>
      <!-- Default form login -->
    </div>
    <div class="col-lg-4"></div>

    {{loginForm.value|json}}
  </div>
</div>
